@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.yellow-light-blue-gradient {
  background: linear-gradient(225deg, #ebff38 -7.08%, #3dd6f5 90.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
